* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#main-container {
    width: 600px;
    margin: 0 auto;
}

.post {
    border: 1px #ccc solid;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc;
    padding: 15px;
}

.post-media img {
    width: 100%;
}

.post-details {
    display: flex;
    align-items: center;
}

.post-details .logo img {
    width: 40px;
    border-radius: 50%;
}

.post-details .details {
    margin-left: 15px;
}

.post-details .details .details-company {
    font-weight: bold;
    font-size: 12px;
}

.post-details .details .post-date {
    font-size: 11px;
}

.post-text {
    margin: 15px 0;
}

.click{
    display: flex;
    color: rgb(116, 101, 20);
    margin-top: 14px;
}

.send{
    margin-left: 14px;
}

/* modale */
.modal {
    width: 500px;
    height: auto;
    display: none;
    position: fixed;
    top: 40vh;
    border: 2px rgb(51, 22, 22) solid;
    border-radius: 15px;
    padding: 32px;
    background-color: wheat;
    color: black;
    z-index: 1001;
    margin-left: 15px;
}

