<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Social Profile</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="main-container">



        <div class="post-list">

            <div v-for = '(jobs, index) in jobs' class="post">
                <div class="post-details">
                    <div class="user-pic">
                        <img :src="jobs.logo" alt="Company logo">
                    </div>
                    <div class="details">
                        <div class="user-name"> <h5>Company:</h5>  {{jobs.company}} <h5>Position:</h5> {{jobs.position}}</div>
                        
                    </div>
                </div> 
               
                <div class="post-text">
                    {{jobs.description}}
                </div>
                <div class="post-date">{{jobs.created_at}}</div>

                <!-- if? -->
                <!-- <div v-if = "Object.keys(post).includes('mediaPath')" class="post-media">
                    <img :src='post.mediaPath' alt="media" />
                </div> -->

                <div class="click">
                    <div v-if="found(jobs.id)">
                        <i class="fas fa-star" @click="starClick(jobs.id)"></i>
                    </div>
                    <div v-else>
                        <i class="far fa-star"  @click="starClick(jobs.id)"></i>
                    </div>

                    <div v-if="foundApply(jobs.id)">
                        <button @click="applyClick(jobs.id)" class="send">Rimuovi candidatura</button>
                    </div>
                    <div v-else>
                        <button @click="applyClick(jobs.id)" class="send">Candidati</button>
                    </div>
            </div>
                  

                
            </div>

        </div>

    </div>
    <script src="./js/script-vue.js"></script>
</body>
</html>
<!-- 
<i class="fas fa-times" @click="removePost(index)"></i> -->